h1 {
    font-size: 3em !important;
}

h2 {
    font-size: 2.5em !important;
}

h3 {
    font-size: 2em !important;
}

.ui.menu .header.item {
    padding-left: 0
}

.ui.sidebar.menu {
    font-size: 1.5em
}

#hero-section {
    border-bottom: 0px;
}

.hero {
    padding: 10em 0 8em 0 !important;
}

.hero .huge.button {
    margin-top: 1em;
}

.mobile.only.hero {
    font-size: 0.75em;
    padding: 4em 0 3em 0 !important;
}

.ui.basic.segment .ui.grid.container {
    padding: 2em 0em;
}

.ui.basic.segment span {
    line-height: 1.5em;
}

#about-section {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(34,36,38,.15);
    background-color: #fff0db;
    padding: 2em 0;
    margin-top: 0;
}

#news-section {
    background-color: #dfe49b;
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding: 2em 0;
}

.ui.images img + img {
    margin-left: 3em;
    margin-right: 3em;
}

